.skin1{

    padding:3%;
    .contact-name{
        color: cornflowerblue;
       
        font-size: 3rem;
        font-weight: bold;
        padding: 5px 0px;
    }
    .address{
        padding: 5px 0px;
    }
    .educationSection{

        .heading{
            color: darkcyan;
            font-size: 1.7rem;
            width: 100%;
            
        }
    }
}

.divider{
    width: 100%;
    border-bottom: 1px solid darkcyan;
}