.signup-container{
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
    flex-direction: column;
}

.signup-card{
    width:25rem;
    height:18rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

.bottom-card{
    width:25rem;
    border: 1px solid #ccc;
 padding: 1rem;
 margin-top: 1rem;
}



