*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
h1{
    margin:0;
    /* center gallery , search on web  */
}

.back{
    width:5rem;
    height: 5rem;
    background-color: black;
    color:white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:4rem;
    right: 5rem;
}

.back:hover{
    cursor:pointer;
}

.gallery-cont{
    background-color: lightcyan;
    min-height: 100vh;
    width: 100vw;
    /* display: flex; */
}