*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
h1{
    margin:0;
    /* center gallery , search on web  */
}

.back{
    width:5rem;
    height: 5rem;
    background-color: black;
    color:white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:4rem;
    right: 5rem;
}

.back:hover{
    cursor:pointer;
}

.gallery-cont{
    background-color: rgb(5, 105, 105);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.media-cont{
    height: 15rem;
    width: 15rem;
    /* background-color: rgb(4, 33, 4); */
    border: 10px solid white;
    margin: 2rem;
}
.media {
    height: calc( 100% - 2rem - 2rem );
}
.media > *{
    width:100% ;
    height: 100%;
    object-fit: fill;
}
.action-btn{
    height:2rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn:hover{
    cursor: pointer;
}

.download{
    background-color: black;
}

.delete{
    background-color: red;
}