* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.toolbox-cont{
  height:5rem;
  background-color: #4b4b4b;
  display: flex;
  align-items: center;
}

.toolbox-cont>*{
  margin-left: 4rem;
}

.toolbox-color-cont{
  height:3.5rem;
  width:18rem;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.action-btn-cont{
  height:3.5rem;
  width:7rem;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.color{
  height:1.5rem;
  width:3rem;
}

.lightpink{
  background-color: lightpink;
}
.lightgreen{
  background-color: lightgreen;
}
.lightblue{
  background-color: lightblue;
}
.black{
  background-color: black;
}

.action-btn-cont>*{
  font-size: 2rem;
  color: #d1d8e0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.toolbox-color-cont>*:hover, .action-btn-cont>*:hover{
  background-color: #485460;
}

.modal-cont{
  height:50vh;
  width:45vw;
  background-color: lightblue;
  position: absolute;
  top:calc((100vh - 50vh)/2);
  left:calc((100vw - 45vw)/2);
  display: none;
}

textarea{
  height:100%;
  width:75%;
  background-color:#dfe4ea ;
  font-size:2rem;
  border:none;
  outline:none;
  resize: none;
}

.priority-color-cont{
  height:100%;
  width:25%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #4b4b4b;
}

.priority-color{
  height: 10%;
  width:38%;
}

.active{
  border: 5px solid red;
}


.ticket-cont{
  height: 12rem;
  width:15rem;
  background-color: #f1f2f6;
}

.ticket-color{
  height:1rem;
  /* background-color: black; */
}

.ticket-id{
  height:2rem;
  background-color: red;
}

.task-area{
  height: calc(100% - 1rem - 2rem);
  font-size: 1.5rem;
  outline: none;
  overflow-wrap: break-word;
}

.ticket-lock{
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  height:2rem;
  margin-top: -29px;
  margin-right: 11px;
}

.main-cont{
  display:flex;
  gap:2rem;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}






