li{
    list-style: none;
}
.navbar>nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;

}
img[src="images/lap.jpeg"]{
    height:800px;
    width: 1400px;
}
.skills {
    display: flex;
}

.footer{
    height: 80px;
    background-color: black;
    color: white;
}

.footer>p{
    font-size: 25px;
}